@import url("https://fonts.cdnfonts.com/css/josefin-sans");
button {
  outline: none;
  cursor: pointer;
  background: #663399;
  color: white;
  font-family: 1;
  max-width: 18rem;
  width: 100%;
  padding: 0.5rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
}
input {
  width: 100%;
  max-width: 13rem;
  padding: 0.5rem;
  border: #ddd 1px solid;
  outline: rgb(221 221 221);
  margin: 0.5rem 0px;
}
input.medium {
  font-size: 1.01rem;
  padding: 0.5rem;
  max-width: 16rem;
}
.error {
  width: 100%;
  padding: 0.5rem;
  background: rgba(250, 0, 0, 0.05);
  color: rgba(250, 0, 0, 0.9);
  font-weight: semibold;
  border-left: 2px rgba(250, 0, 0, 0.4) solid;
}
h2{
  font-size:1.4rem;
  margin:1rem 0px;
}
h3{
  font-size:1.2rem;
  margin:1rem 0px;
}
p{
   font-size: 0.875rem/* 14px */;
  line-height: 1.25rem;
rgb(75 85 99 );}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  background: #f9f5f3;
}
html[lang="ar"] {
  direction: rtl;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
